.home-spot-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: 1024px;
  justify-content: space;
  align-content: center;
  align-items: center;
}

.home-spot-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-spot-link:hover {
  color: orangered;
  cursor: pointer;
  border: 1px solid orangered;
}

.home-spot-image {
  width: 225px;
  height: 200px;
  display: block;
  margin: 0;
}

.home-spot-link {
  color: black;
  text-decoration: none;
  position: relative;
  border: 1px solid transparent;
  transition: border 0.3s;
  transition: color 0.3s;
}

.home-spot-info {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-cityState {
  font-size: 14px;
}

.home-price-night {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}
.home-price {
  font-size: 14px;
}

.fa-solid.fa-star {
  color: #ffd700;
  margin-right: 5px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 1s;
  width: 120px;
}

.image-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  .home-spot-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .home-spot-list {
    grid-template-columns: 1fr; /* Set to 1 column for even smaller devices */
  }
}
